@model SharedLibrary.ViewModels.WeatherForecastViewModel

@{
    ViewData["Title"] = "Milestone2";
}

<div class="text-center">
    <h5 class="display-6">Obtain ViewModel from Proxy API, using a Proxy Client</h5>
</div>


<h3>@Model.Meta</h3>


