@using SimpleBlazorComponent


@{
    Layout = null;
}


@{
    ViewData["Title"] = "Milestone1";
}


<div class="text-center">
    <h5 class="display-6">Include a simple blazor component, contained in a razor class library, in an existing ASP.NET Core MVC app</h5>
</div>

<component type="typeof(Component1)" render-mode="WebAssembly" />

<script src="_framework/blazor.webassembly.js"></script>

