@using BlazorApp1;

<p>Some weather forecast info.</p>


<div class="text-center">
    <h6 class="display-4">Micro component feature</h6>

    <component type="typeof(BigFeature)" render-mode="WebAssembly" />

    <p>additional surrounding markup</p>
</div>

