
<div class="my-component">
    This Blazor component is defined in the <strong>ComplexBlazorComponent</strong> package.
</div>

<ComplexBlazorComponent.Components.ViewComponent1 />

<ComplexBlazorComponent.Components.ViewComponent2 />

